<div class="about py-5">
    <div class="container">
        <div class="quote mx-auto py-3">
            <h2>"<span class="easier">It gets easier.</span> Every day it gets a little easier. But you gotta do it every day, that’s the hard part. But it does get easier"</h2>
            <span class="ref">Bojack Horseman S02 Finale</span>
        </div>
        <div class="aboutInfo row mt-5">
            <div class="col-md-7">
                <h3 class="fw-bold">About me:</h3>
                <p>
                    My name is Ossama Abdein. I have a Bachelor's degree in Mechanical Engineering, 
                    But it didn't fit me. So when I wrote my first real line of code in my senior year of college, 
                    I've decided to become a software developer. I gave mobile development a try (iOS), but the browser really captured me. 
                    I'm totally concentrated on the Front-End right now, but I am sure I'll take a deep dive to explore the Back-End in the near future.
                    <br>Also, I love free writing and blogging, it helps me relieve stress, although writing itself is stressful most of the time. It's Complicated, isn't it? 
                    <br>Anyway, Welcome to my website and make yourself at home.
                </p>
            </div>
            <div class="col-md-5 contacts">
                <h3 class="fw-bold">Contacts:</h3>
                <ul class="contactsList ps-0">
                    <li>
                        <a href="mailto:ossamaabdein@gmail.com"><i class="fas fa-envelope-square me-2"></i><span>ossamaabdein@gmail.com</span></a>
                    </li>
                    <li>
                        <a href="tel:201097219055"><i class="fas fa-phone-square-alt me-2"></i><span>(+20) 1097219055</span></a>
                    </li>
                    <ul class="d-flex align-items-center ps-0">
                        <li class="me-2">
                            <a href="https://www.linkedin.com/in/ossamaabdein" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.github.com/ossamaabdein" target="_blank"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="cv">
                            <a href="https://drive.google.com/file/d/1nd2jUKwjj4Qk6nlvPvUh5SoJ7W-Y1WTM/view?usp=sharing" target="_blank" class="btn d-flex align-items-center justify-content-center py-0"><i class="far fa-file-alt pe-2"></i> my CV</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="SiteInfo col-md-7">
                <h3 class="fw-bold">About Website:</h3>
                <div>
                    <h5 class="mb-1">"If all you have is a hammer, everything looks like a nail."</h5>
                    <span class="ref">Abraham Maslow.</span>
                </div>
                <p class="py-2">I've built this website with <span>Angular</span>, I know it's overkill for such a simple mission, 
                    but all I had back then was Angular; besides, I wanted to improve my skills in it. Bootstrap and SASS for responsiveness and styling.
                </p>
            </div>
        </div>
    </div>
</div>