<div class="home">
    <div class="container py-5">
            <div class="intro">
                <h2 class="pb-4">
                    <span>Hello World! </span>
                    <img src="assets/images/waving-hand.png" class="wavingHand">
                </h2> 
                <div class="intro-info">
                    <p>
                        I am Ossama, a junior Front-End software developer. I'm trying to make responsive and accessible web apps that guarantee users 
                        a good & smooth browsing experience. Welcome to my personal website and make yourself at home.
                        <!-- <br> -->
                        <!-- <a class="btn btn-primary" href="#test"><i class="far fa-paper-plane pe-1"></i> Get in touch</a> -->
                    </p>
                    <div>
                        <h6>Get in touch:</h6>
                        <ul class="contactsList d-flex justify-content-center ps-0">
                            <li>
                                <a href="https://api.whatsapp.com/send?phone=201097219055" target="_blank"><i class="fab fa-whatsapp"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/ossamaabdein" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://www.github.com/ossamaabdein" target="_blank"><i class="fab fa-github"></i></a>
                            </li>
                            <li>
                                <a href="mailto:ossamaabdein@gmail.com"><i class="fas fa-envelope-square pe-2"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="portfolio py-5">
                <h2 class="fw-bolder text-center">Portfolio</h2>
                <div class="row">
                    <div class="cardContainer col-lg-4 col-md-6">
                        <a class="card"  href="https://ossamaabdein.github.io/Claquette-ng/" target="_blank">
                            <a class="card-img-top text-center">
                                <img src="assets/images/video.png" alt="claquette_website_link">
                            </a>                        
                            <div class="card-body">
                                <h5 class="card-title">Claquette</h5>
                                <p class="card-text">
                                    Claquette is a Singla Page Application (SPA) Movies and TV shows database, with categories to 
                                    give the user a good and smooth surfing experience. 
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="cardContainer col-lg-4 col-md-6">
                        <a class="card"  href="https://ossamaabdein.github.io/Weathery/" target="_blank">
                            <a class="card-img-top text-center">
                                <img src="assets/images/weather.png" alt="claquette_website_link">
                            </a>                        
                            <div class="card-body">
                                <h5 class="card-title">Weathery</h5>
                                <p class="card-text">
                                    A simple weather-forecasting app that provides you with a realtime info. for weather in your location or any other city in the world.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="cardContainer col-lg-4 col-md-6">
                        <a class="card"  href="https://ossamaabdein.github.io/DevFolio/" target="_blank">
                            <a class="card-img-top text-center">
                                <img src="assets/images/portfolio.png" alt="claquette_website_link">
                            </a>                        
                            <div class="card-body">
                                <h5 class="card-title">DevFolio</h5>
                                <p class="card-text">
                                    DevFolio is a template for a web Developer and Designer, built with HTML, CSS, JS, and 
                                    Bootstrap, with a responsive Design.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="cardContainer col-lg-4 col-md-6">
                        <a class="card"  href="https://ossamaabdein.github.io/CRUD-System/" target="_blank">
                            <a class="card-img-top text-center">
                                <img src="assets/images/crud.png" alt="claquette_website_link">
                            </a>                        
                            <div class="card-body">
                                <h5 class="card-title">CRUD System</h5>
                                <p class="card-text">
                                    A simple CRUD system for products, inputs validation with RegEx, Built with pure JS, HTML, and CSS.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="cardContainer col-lg-4 col-md-6">
                        <a class="card"  href="https://ossamaabdein.github.io/Simone/" target="_blank">
                            <a class="card-img-top text-center">
                                <img src="assets/images/simone.png" alt="claquette_website_link">
                            </a>                        
                            <div class="card-body">
                                <h5 class="card-title">Simone</h5>
                                <p class="card-text">
                                    Simone is a template for a Graphic and Web Designer, built with HTML, CSS, JS, and 
                                    Bootstrap, with a responsive Design.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

    </div>
</div>